[Desktop Entry]
Name=Cow News Reader
Comment=Cownewsreader application
Categories=GNOME;Utility;
Exec=/usr/bin/cownewsreader
Icon=/usr/share/cownewsreader/media/cownewsreader.svg
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true

